
@font-face {
    font-family: 'open_sansbold';
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-bold-webfont.eot');
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-bold-webfont.ttf') format('truetype'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-light-webfont.eot');
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff') format('woff'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-light-webfont.ttf') format('truetype'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-regular-webfont.eot');
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-regular-webfont.ttf') format('truetype'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-semibold-webfont.eot');
    src: url('https://c15123524.ssl.cf2.rackcdn.com/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-semibold-webfont.ttf') format('truetype'),
         url('https://c15123524.ssl.cf2.rackcdn.com/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'latobold';
    src: url('https://c15123524.ssl.cf2.rackcdn.com/lato-bol-webfont.eot');
    src: url('https://c15123524.ssl.cf2.rackcdn.com/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bol-webfont.woff') format('woff'),
         url('https://c15123524.ssl.cf2.rackcdn.com/lato-bol-webfont.ttf') format('truetype'),
         url('https://c15123524.ssl.cf2.rackcdn.com/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}