/* CSS Document */


.what{background:url(../images/what.png) no-repeat left 45px; padding:115px 0 0 60px;}
.why{background:url(../images/why.png) no-repeat left 45px; padding:115px 0 0 60px;}
.who{background:url(../images/who.png) no-repeat left 45px; padding:115px 0 0 60px;}
.when{background:url(../images/when.png) no-repeat left 45px; padding:120px 0 0 60px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#f7f8cf;}
.where{background:url(../images/where.png) no-repeat left 45px; padding:120px 0 0 60px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#f7f8cf;}




.content1_td{padding-top:85px; line-height:15px;}
.color1{color:#e6efb3;}
.color2{color:#b5d12c;}

.content_block{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; line-height:14px; color:#f7f8cf; width:309px; height:180px; padding-right:10px;}
.content_block p{padding-top:8px;}

.stripNav {
	margin-left:75px; margin-top:12px;
}
.stripNav li {
	float: left;
	border-left:1px solid #fff;
	padding:0 17px 0px 17px;
}
.stripNav li:first-child {
	float: left;
	border-left:0px solid #fff;
	padding:0 17px 0 0;
}

.stripNav li a {
	color:#fff; color:#f7f8cf; font-size:12px;
	
}
.stripNav li a:hover, a.active {
	color:#fff; color:#bed62f;
}

.panel ul {
	width: 900px;
	margin:0 41px;
}
.panel ul li {
	background:url(../images/slide_bg.png) no-repeat left top;
	width:900px;
	height:496px;
}

.fb{background:url(../images/FB-01.png) no-repeat; width:24px; height:24px; display:block;}
.fb:hover{background:url(../images/FB-02.png) no-repeat;}

.yt{background:url(../images/YT-01.png) no-repeat; width:21px; height:24px; display:block;}
.yt:hover{background:url(../images/YT-02.png) no-repeat;}

.gp{background:url(../images/GP-01.png) no-repeat; width:24px; height:24px; display:block;}
.gp:hover{background:url(../images/GP-02.png) no-repeat;}

.ti{background:url(../images/TI-01.png) no-repeat; width:25px; height:24px; display:block;}
.ti:hover{background:url(../images/TI-02.png) no-repeat;}

.gi{background:url(../images/GI-01.png) no-repeat; width:24px; height:24px; display:block;}
.gi:hover{background:url(../images/GI-02.png) no-repeat;}

.gv{background:url(../images/GV-01.png) no-repeat; width:25px; height:24px; display:block;}
.gv:hover{background:url(../images/GV-02.png) no-repeat;}

.gal-link{padding-top:30px;}
.gal-link a{color:#fff;}

.logo1{background:url(../images/logo1.png) no-repeat center top; width:99px; height:61px; display:block;}
.logo1:hover{background:url(../images/logo1-h.png);}

.logo2{background:url(../images/logo2.png) no-repeat center top; width:99px; height:32px; display:block;}
.logo2:hover{background:url(../images/logo2-h.png);}

.logo3{background:url(../images/logo3.png) no-repeat center top; width:101px; height:23px; display:block;}
.logo3:hover{background:url(../images/logo3-h.png);}

.logo4{background:url(../images/logo4.png) no-repeat center top; width:99px; height:21px; display:block;}
.logo4:hover{background:url(../images/logo4-h.png);}

.logo5{background:url(../images/logo5.png) no-repeat center top; width:99px; height:22px; display:block;}
.logo5:hover{background:url(../images/logo5-h.png);}


/*=======================*/

.tipsy { padding: 5px; font-size: 12px; position: absolute; z-index: 100000; }
  .tipsy-inner { padding: 5px 8px 4px 8px; background-color: #1291ba; color: white; max-width: 200px; text-align: center; margin-top:4px; border: 1px solid #084a5f;}
  .tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
  .tipsy-arrow { position: absolute; background: url(../images/tooltiptopbg1.png) no-repeat top left; width: 12px; height:10px; }
  .tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
  .tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
  .tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
  
  
