html{
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}


body{
  	font-size:9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	background-color: #ffffff;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	scrollbar-face-color: #fbfbfb;
	scrollbar-highlight-color: #b1b1b1;
	scrollbar-3dlight-color: #e0e0e0;
	scrollbar-darkshadow-color: #e0e0e0;
	scrollbar-shadow-color: #b1b1b1;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #e0e0e0;
}

form{
	margin: 0px;
}

.clear{
	clear:both;
}

td{
    font-size: 9pt;
	color:#000000;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

.header_bg{
	background-color: #670D2F;
}

.horizontal_line{
	background-image:url(http://c4922595.r95.cf2.rackcdn.com/line_bg.jpg);
	background-position:left top;
	background-repeat:repeat-x;
}

.box{
	background-color: #eff3f4;
	border:1px solid #979ea0;
	padding:7px;
}

.dark_box{
	background-color:#EF88AD;
	border:1px solid #356d79;
	padding:7px;
}

.page_heading {
	font-size: 28px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	color:#14555f;
	font-weight:bold;
	text-decoration: none;
}

.page_heading_small {
	font-size: 22px;
	font-family: arial, tahoma, verdana, helvetica, sans-serif;
	color:#14555f;
	font-weight:bold;
	text-decoration: none;
}

.top_menu_portion{
	background-color: #f1f3f5;
	border-top: 1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	font-size: 11px;
	color: #000000;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	padding-right:10px;
}


a.menulink:link, a.menulink:visited, a.menulink:active{
	font-size: 11px;
	color:#000000;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
}

a.menulink:hover{
	font-size: 11px;
	color:#000000;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:underline;
}



.login_text {
	font-size: 11px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color: #0f0c02;
	font-weight:normal;
	font-variant:normal;
	text-decoration: none;
	padding-left:8px;
}

.footer{
	background-color: #670D2F;
	font-size: 11px;
	color:#ffffff;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

.icon_box{
	background-color: #d8eaee;
	border:1px solid #979ea0;
	padding:7px;
	cursor: pointer;
}

.admin_box{
	background-color: #d8eaee;
	border:1px solid #979ea0;
	padding:7px;
	cursor: pointer;
	overflow-y:scroll;
	height:100px;
}

table td.admin_box:hover {
	background-color: #eff3f4;
}

table td.icon_box:hover {
	background-color: #eff3f4;
}

.icon_box_hover {
	background-color: #eff3f4;
	border:1px solid #979ea0;
	padding:7px;
	cursor: pointer;
}


h5{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: #FFFFFF;
	font-size: 10px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

.left_heading{
	font-size: 10pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color: #000000;
	font-weight:bold;
}

.body_text {
	font-size: 11px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color: #0f0c02;
	font-weight:normal;
	font-variant:normal;
	text-decoration: none;
}


a:link, a:visited{
    font-size: 9pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
    color: #2c4ba3;
    text-decoration:underline; 
}

a:hover{
    font-size: 9pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color: #000000;
    text-decoration:underline;
}

input.look{
	width:150px;
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
    padding: 1px 3px 1px 3px;
	font-size: 12px;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#000000;
    background-color: #ffffff;
}

input.look-price{
	width:70px;
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
    padding: 1px 3px 1px 3px;
	font-size: 12px;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#000000;
    background-color: #ffffff;
}

textarea.look{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #ffffff;
}

select.look{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #ffffff;
}

submit.look{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #ffffff;
}

input.button{
	border: 1px solid #000000;
	padding: 2px 3px 2px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#ffffff;
	background: #ffffff url(http://c4922595.r95.cf2.rackcdn.com/button_bg.gif) repeat-x;
	cursor: pointer;
}


input.look_selected{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
    padding: 1px 3px 1px 3px;
	font-size: 12px;
    font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color:#000000;
    background-color: #CAFFD8;
}

textarea.look_selected{
	border-top: #000000 1px solid;
    border-right: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid;
	padding: 1px 3px 1px 3px;
    font-weight: normal;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    background-color: #CAFFD8;
}


.header_bordercolor{
	border-width: 1px;
	border-style: solid;
	border-color: #979ea0;
}

.header_border-noBtom{
	
	border-top:1px solid #979ea0;
	border-left:1px solid #979ea0;
	border-right:1px solid #979ea0;
	boder-bottom:none;
}

.header_border-notop{
	
	border-top:none;
	border-left:1px solid #979ea0;
	border-right:1px solid #979ea0;
	boder-bottom:1px solid #979ea0;
}

.header_bgcolor{
	background-color: #670D2F;
	color: #ffffff;
}

.tr_bgcolor{
	background-color: #d8eaee;
}

.even_tr{
	background-color: #eff3f4;
}


.odd_tr{	
	background-color: #eaeaea;
}


table tr.odd_tr:hover, table tr.even_tr:hover {
	background-color: #eff3f4;
}

.mouseHover {
	background-color: #eff3f4;
}

.selected_bg{
	background-color: #c8e3fd;
}

.headertext{
    color: #ffffff;
    font-size: 12px;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
    
}

a.view_link:link, a.view_link:visited, a.view_link:active{
	color: #000000;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none; 
}

a.view_link:hover{
	color: #669acc;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none;
}

a.toplink:link, a.toplink:visited, a.toplink:active {
    font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	font-family: Tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}
a.toplink:hover {
    font-size: 12px;
	font-weight: bold;
	color: #b0d9ff;
	font-family: Tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}

.very_big_headertext{
    color: #000000;
    font-size: 15pt;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none
}

.big_headertext{
    color: #000000;
    font-size: 13pt;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.small-text{
    color: #000000;
    font-size: 10px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}


.small_text{
    color: #000000;
    font-size: 12px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.err{
    color: #FF0000;
    font-size: 11px;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.smalltext{
    color: #000000;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}



a.new_link:link, a.new_link:visited, a.new_link:active{
	font-size: 12px;
	color: #000000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}

a.new_link:hover{
	font-size: 12px;
	color: #ff0000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration: none;
}


a.action_link:link, a.action_link:visited, a.action_link:active{
	font-size: 12px;
	color: #2E75A3;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	line-height: 20px;
	padding: 0 40px 0 20px;
	margin: 0 0 0 0;
	text-decoration: none;
	background: url("http://c4922595.r95.cf2.rackcdn.com/ico_menu_on.gif") 2px 2px no-repeat;
}

a.action_link:hover{
	font-size: 12px;
	color: #000000;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	line-height: 20px;
	padding: 0 40px 0 20px;
	margin: 0 0 0 0;
	text-decoration: none;
	background: url("http://c4922595.r95.cf2.rackcdn.com/ico_menu_off.gif") 2px 2px no-repeat;
}

.bold_text{
    color: #000000;
    font-size: 11px;
	font-weight: bold;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}


.copyright{
    color: #FFFFFF;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.green_text {
	color: #009933;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.off{
	background-color: #94C9C9;
	color: #000000;
	font-size:12px;
	font-family: verdana, arial, tahoma, helvetica, sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.on{
	background-color: #D6EBEB;
	color: #000000;
	font-size:12px;
	font-family: verdana, arial, tahoma, helvetica, sans-serif;
	font-weight:bold;
	cursor: pointer;
}


.red_text {
	color: #FF0000;
    font-size: 9pt;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.messageBox{
	text-align: left;
	color:#FF0000;
	width: 82%;
	font-size: 8pt;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	height: auto;
	padding: 10px 4px 10px 40px;
	margin: 3px 0 3px 0;
	text-decoration: none;
	border: 1px solid #E8C245;
	background: #FFFFCC url("http://c4922595.r95.cf2.rackcdn.com/icon_error.gif") 10px center no-repeat;
}

.changeStatus{
	cursor: pointer;
}

.checkBox{
	padding: 0 0 0 0;
	margin: 0 4px 3px 0;
}

.radioButton{
	padding: 0 0 0 0;
	margin: 0 4px -2px 0;
}

a.top_link:link, a.top_link:visited, a.top_link:active{
	color: #FFFFFF;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none; 
}

a.top_link:hover{
	color: #669acc;
	font-size:12px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	text-decoration:none;
}

.header_welcome_text{
	color: #ffffff;
    font-size: 11px;
	font-weight: normal;
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}
div.disp-err{
	width:230px;
	padding:0px;
	margin:0 110px 0 0;
	text-align:left;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	float:right;
}

.invoice-main{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-left:1px solid #cccccc;
}

.invoice-main tr th{
	font-size:12px;
	font-weight:bold;
	border-right:1px solid #cccccc;
	
}

.invoice-main tr td{
	border-top:1px solid #CCCCCC;
	border-right:1px solid #cccccc;
	padding:0px;
	margin:0px;
}

/*newly added css for dashboard*/

.dashboard-main{
	width:983px; 
	padding:0px; 
	margin:0px;
}

.dashboard-main span{
	padding:0px 0px 0px 10px;
	font-size:12px;
	font-weight:bold;
}

.dashboard-main .dashblock{
	width:300px; 
	padding:5px 0 0 0; 
	margin:8px 10px 0px 10px; 
	float:left; 
	border:1px solid #cccccc; 
	height:200px;
	background:url(http://c4808190.r90.cf2.rackcdn.com/dashboard-block.png) repeat-x left bottom;
	 overflow-y:scroll;
}

.dashboard-main .dashblock span{
	font-size:11px;
	padding:0px 0 0 10px;
	margin:0px;
	
}

.dashboard-main .dashblock table tr th{
	font-size:11px;
	border-bottom:1px solid #e4e4e4;
}

.dashboard-main .dashblock table tr td{
	
	font-size:11px;
	color:#767676;
}

.paddingLeft{
	padding-left:10px;
}


/*****************************************************************************************************************/

.iconViewAlign{
	vertical-align:-4px;
}

/*****************************************************************************************************************/

#auto_load ul
{
	padding: 5px 0;
	margin:0;
}


#auto_load ul li
{
	margin:2px 0;
	padding:2px 10px;
}

#auto_load ul li:hover
{
	background-color:#4c4b4b;
	color:#fff;
}
/*------------- added by Monica ------------------*/
.cutomersection{ margin-bottom:10px;}
.cutomersection label{ float:left; width:114px; line-height:20px;}
.cutomersection .UserNameSearch{ float:left;}
.cutomersection .inputBox_long{ width:350px!important; margin-right:10px;}
.cutomersection td{ padding:8px 10px;}
.cutomersection .rightaligned{ padding-left:150px; width:66px;}
.cutomersection .inputBox_small{ margin:0 5px 0 0; float:left; width:100px;}
.cutomersection label.small{ width:33px; float:left;}
.lefttable{ float:left; padding:10px; width:420px;}
.righttable{ float:left; margin-left:20px; padding:10px; width:400px;}
.lefttable h2, .righttable h2{ font:bold 13px/19px Tahoma, Verdana, Arial, Helvetica, sans-serif; margin:0; padding:0; color:#14555F; margin-bottom:10px;}
.smallTable{ border:1px solid #979ea0; padding:2px;  color:#000; text-align:center;}
.smallTable th{ background:#356d79; padding:5px 10px; color:#fff; font:bold 11px/15px Tahoma, Verdana, Arial, Helvetica, sans-serif;}
.smallTable tr{background:#fff;}
.smallTable td{ padding:5px 10px; font:normal 11px/15px Tahoma, Verdana, Arial, Helvetica, sans-serif!important; }
.smallTable table td{ padding:5px 0 ; text-align:center;}
.smallTable tr.altbg{ background:#e1e4e5;}
.smallTable .scroll{ height:200px; overflow:auto;}
.lefttable .smallTable th{ background:#356d79 url(../images/white_arrow.gif) 93% 50% no-repeat; padding-right:20px;}
.cutomersection  .submitbtn{ background:#356D79; color:#fff; border:none; outline:none; padding:2px 10px; font:bold 11px/15px Tahoma,Verdana,Arial,Helvetica,sans-serif; cursor:pointer;}
.righttable .smallTable th{ border-right:1px solid #fff;}
.smallTable tr.subtot{ background:#eff3f4;}
.smallTable tr.subtot{ background:#eff3f4;}
.smallTable tr.tot{ background:#cfd2d3;}
.totTable{ 
    color: #000000;
    padding: 2px;
    text-align: center; font:bold 13px/15px Tahoma, Verdana, Arial, Helvetica, sans-serif; }
.totTable td{color:#14555f; padding:5px 10px;}
.totTable td span{ color:#0018ff; font-size:9px; font-weight:normal;}
.totTable .bgcolr{ background:#e1e4e5;}
