@charset "utf-8";
/* CSS Document */

/* menu styles */
#jsddm
{	margin: 0;
	padding: 0
}

#jsddm li
{	float: left;
	list-style: none;
	font: 11px Tahoma, Arial;	
}

#jsddm li a
{	display: block;
	/*background: #324143;*/
	padding: 5px 7px;
	text-decoration: none;
	border-right: 1px solid #000;
	/*color: #EAFFED;*/
	color:#000;
	white-space: nowrap;
	font-size:11px;
}

#jsddm li a:hover
{
	/*background: #24313C*/
}
		
#jsddm li ul
{	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white
}
		
#jsddm li ul li
{	float: none;
	display: inline
}
			
#jsddm li ul li a
{	width: auto;
	background: #D0ECF3;/*#A9C251*/
	color: #24313C;
}

#jsddm li ul li a:hover
{
	background: #eff3f4;/*#8EA344*/
}